*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.row{
    width:100%;
}
p{
    border: 3px solid black;
    height:200px;
    width:90%;
    margin-right: auto;
    margin-left: auto;
    background-color: grey;
}
.foodTitle1{
    background-color:lightcoral;
    border:3px solid black;
    height:25px;
    width:100px;
}
@media(min-width: 992px){
    .col-lg-4 {
        width:33%;
        float:left;  
    }
}
@media(min-width: 768px) and (max-width: 991px){
    .col-md-6 {
        width:50%;
        float:left; 
    }
}
