*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin:0;
}
h1{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.container{
    width:90%;
    margin:0 auto;
}
.foodBox{
    float:left;
    width:33%;
    padding:20px;
    border:3px solid black; 
    position:relative;
}
.foodTitle{
    position:absolute;
    top:0;
    right:0;
    padding:10px;
    border:1px solid black;
}
@media(max-width:991px){
    .foodBox{
        float:left;
        width:50%;
    }
    .foodBox:nth-child(3){
        float:left;
        width:100%;
        clear:both;
    }
}
@media(max-width:767px){
    .foodBox{
        float:left;
        width:100%;
        clear:both;
    }
}